<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ItemSenseUser" value="admin" />
    <add key="ItemSensePassword" value="admindefault" />
    <add key="ItemSenseUrl" value="http://10.200.10.84" />
    <add key="HttpsCertificates" value="ignore" />
    <add key="TargetHost" value="localhost" />
    <add key="TargetUser" value="impinj" />
    <add key="TargetPassword" value="It3ms3ns3" />
    <add key="TargetQueue" value="locate" />
    <add key="Heartbeat" value="10000" />
    <add key="ConfigurationPort" value="8090" />
  </appSettings>

</configuration>